/* Define the colors */
.root {
  -primary-color: #ffd369;
  -secondary-color: #222831;
  -tertiary-color: #393e46;
  -text-color: #eeeeee;
}

.root {
  -fx-font-family: "Segoe UI", "Arial", sans-serif;
}

.drop-shadow {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.0, 0, 2);
}

.drop-shadow:hover {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 8, 0.0, 0, 4);
}

/* Add the drop-shadow class to your existing selectors */
.button, .text-field, .check-box, .radio-button, .menu-bar, .calendar-cell {
  -fx-text-fill: -text-color;
  -fx-padding: 8px 16px;
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.0, 0, 2);
}

.button:hover, .text-field:hover, .check-box:hover, .radio-button:hover, .menu-bar:hover {
  -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 8, 0.0, 0, 4);
}

/* Style Buttons */
.button {
  -fx-background-color: -primary-color;
  -fx-text-fill: -secondary-color;
  -fx-padding: 8px 16px;
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
}

.button:hover {
  -fx-background-color: -tertiary-color;
  -fx-text-fill: #95969A;
}

.button:pressed {
  -fx-background-color: -secondary-color;
}

/* Style Textfields */
.text-field {
  -fx-background-color: -tertiary-color;
  -fx-text-fill: -secondary-color;
  -fx-padding: 4px 8px;
  -fx-border-radius: 4px;
  -fx-background-radius: 4px;
}

.text-field:focused {
  -fx-background-color: -secondary-color;
}

/* Style Labels */
.label {
  -fx-text-fill: -text-color;
}

/* TOGGLE CONTAINER */

.toggle-container {
    -fx-spacing: 1px;
    -fx-padding: 4px;
    -fx-background-color: #393e46;
    -fx-background-radius: 14px;
}

.custom-toggle-button {
    -fx-background-color: #393D46;
    -fx-text-fill: #95969A;
    -fx-padding: 8px 16px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
}

.custom-toggle-button:selected {
    -fx-text-fill: #393D46;
    -fx-background-color: #ffd369;
}

.calendar-cell {
    -fx-background-color: #393D46;
    -fx-text-fill: #95969A;
    -fx-padding: 5px;
    -fx-border-radius: 12px;
    -fx-background-radius: 12px;
}

.calendar-cell Label {
    -fx-text-fill: #95969A;
}

.month-day-container Label {
    -fx-text-fill: -text-color;
}
